<!--model Essay.ViewModel.Article.ArticleAddViewModel;

<style>
    .arrow-down {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #818182;
    }

    .arrow-up {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid black;
    }

    .myMultiSelectSearch {
        border: 1px solid grey;
        width: 200px;
        display: flex;
        height: 30px;
        border-radius: 5px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }

    .myMultiSelect_items {
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }

        .myMultiSelect_items > .myMultiSelect_item {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: flex-start;
            justify-content: flex-start;
            align-items: center;
        }

            .myMultiSelect_items > .myMultiSelect_item > input {
                margin-right: 10px;
            }

    .btnshow {
        position: relative;
        /*        top: 135px;
    */
    }

    #AuthorSearch {
        border: none;
        outline: none;
    }
</style>
<script>
    function SuccessMessage(SuccessTxt) {
        Swal.fire({
            icon: 'success',
            title: 'وضعیت ثبت',
            text: SuccessTxt,
        });
    }
    function ErrorMessage(ErrorTxt) {
        Swal.fire({
            icon: 'error',
            title: 'خطا',
            text: ErrorTxt,
        });
    }
</script>
<script>
    $(document).ready(function () {
        $("#FirstLayerCat").change(function () {
            var ParentID = $("#FirstLayerCat").val();
            $.get('Url.Action("GetSubCat", "ArticleManagement")', "ParentID=" + ParentID, function (rc)
            {
                $("#subCat").html(rc);
            })

        })


    })
</script>-->

@*Bootstrap 3.3.7*@
<!--<link href="~/topkala-admin/dist/css/bootstrap-theme.css" rel="stylesheet" />-->
@*Bootstrap rtl*@
<!--<link rel="stylesheet" href="~/topkala-admin/dist/css/rtl.css">-->
<!-- Select2 -->
<!--<link rel="stylesheet" href="~/topkala-admin/bowercomponents/select2/dist/css/select2.min.css">-->
<!-- Theme style -->
<!--<link rel="stylesheet" href="~/topkala-admin/dist/css/AdminLTE.css">

<script>
    var myid = "";
    $(document).ready(function () {

        $(".btnSubmitChkKey,.btnSubmitChkAut").on("click", function () {
            var T = $(this).attr("data-target");
            var V = $(this).attr("data-value");

            $(T).each(function () {

                if ($(this).is(":selected")) {
                    var $thisId = $(this).val() + ",";
                    var main_str = myid;
                    if (!main_str.includes($thisId)) {
                        myid = myid + $(this).val() + ",";
                    }
                } else {
                    var $thisId = $(this).val() + ",";
                    var main_str = myid;
                    if (main_str.includes($thisId)) {
                        myid = myid.replace($(this).val() + ",", "");
                    }
                }

            });
            $(V).val(myid);
            myid = "";
        });
    });
</script>
<h4>ArticleAddEditModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNew" asp-controller="ArticleManagement" id="frmArticle" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                {
                    if (TempData["ErrorMessage"] != null)
                    {
                        <h3 style="color:red;">TempData["ErrorMessage"]</h3>
                    }
                }
            </div>
            <div class="form-group">
                <label asp-for="ArticleSubject" class="control-label"></label>
                <input asp-for="ArticleSubject" class="form-control" />
                <span asp-validation-for="ArticleSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleImage" class="control-label"></label>
                <input type="file" asp-for="ArticleImage" />
                <span asp-validation-for="ArticleImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleFile" class="control-label"></label>
                <input asp-for="ArticleFile" class="form-control" />
                <span asp-validation-for="ArticleFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationDate" class="control-label"></label>
                <input type="date" asp-for="PublicationDate" class="form-control" />
                <span asp-validation-for="PublicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmallDescription" class="control-label"></label>
                <input asp-for="SmallDescription" class="form-control" />
                <span asp-validation-for="SmallDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <select class="form-control" id="FirstLayerCat" >
                   await Component.InvokeAsync("CategoryRoot");
                </select>
                <div id="subCat">
                    <select class="form-control" asp-for="CategoryID">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AuthorID" class="control-label"></label>
                <input asp-for="AuthorID" class="form-control" />
                <div id="dvContent">
                    await Component.InvokeAsync("AuthorDrp")
                </div>
                <span asp-validation-for="AuthorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeywordID" class="control-label"></label>
                <input asp-for="KeywordID" class="form-control" />
                <div id="dvContent">
                    await Component.InvokeAsync("KeywordDrp")
                </div>
                <span asp-validation-for="KeywordID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary " />

            </div>
        </form>
    </div>
</div>


section Scripts {
    {await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}-->
<!-- jQuery 3 -->
<!--<script src="~/topkala-admin/bowercomponents/jquery/dist/jquery.min.js"></script>-->
<!-- Bootstrap 3.3.7 -->
<!--<script src="~/topkala-admin/bowercomponents/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!-- Select2 -->
<!--<script src="~/topkala-admin/bowercomponents/select2/dist/js/select2.full.min.js"></script>-->

<!-- Page script -->
<!--<script>

    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

    })
</script>-->
