<!--model Essay.ViewModel.Article.ArticleEditViewModel

{
    Layout = null;
}


<style>
    .closeimage {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 32px;
        width: 32px;
        height: 32px;
        top: 0;
        opacity: 0.3;
    }

        .closeimage:hover {
            opacity: 1;
        }

        .closeimage:before, .closeimage:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: #333;
        }

        .closeimage:before {
            transform: rotate(45deg);
        }

        .closeimage:after {
            transform: rotate(-45deg);
        }
</style>
<script>
    $(".closeimage").click(function () {
        document.getElementById('ArticleImageName').style.backgroundImage = "url('Content/Photos/Article/NoImage.jpg')";
        $(".closeimage").css("display", "none");
    })
</script>
<script>
    $(document).ready(function () {
        $("#FirstLayerCat").change(function () {
            var ParentID = $("#FirstLayerCat").val();
            $.get('Url.Action("GetSubCat", "ArticleManagement")', "ParentID=" + ParentID, function (rc)
            {
                $("#subCat").html(rc);
            })

        })
    })
</script>-->
@*Bootstrap 3.3.7*@
<!--<link href="~/topkala-admin/dist/css/bootstrap-theme.css" rel="stylesheet" />-->
@*Bootstrap rtl*@
<!--<link rel="stylesheet" href="~/topkala-admin/dist/css/rtl.css">-->
<!-- Select2 -->
<!--<link rel="stylesheet" href="~/topkala-admin/bowercomponents/select2/dist/css/select2.min.css">-->
<!-- Theme style -->
<!--<link rel="stylesheet" href="~/topkala-admin/dist/css/AdminLTE.css">

<script>
    var myid = "";
    $(document).ready(function () {

        $(".btnSubmitChkAut,.btnSubmitChkKey").on("click", function () {
            var T = $(this).attr("data-target");
            var V = $(this).attr("data-value");

            $(T).each(function () {

                if ($(this).is(":selected")) {
                    var $thisId = $(this).val() + ",";
                    var main_str = myid;
                    if (!main_str.includes($thisId)) {
                        myid = myid + $(this).val() + ",";
                    }
                } else {
                    var $thisId = $(this).val() + ",";
                    var main_str = myid;
                    if (main_str.includes($thisId)) {
                        myid = myid.replace($(this).val() + ",", "");
                    }
                }

            });
            $(V).val(myid);
            myid = "";
        });
    });
</script>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" asp-controller="ArticleManagement" method="post" enctype="multipart/form-data" id="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArticleSubject" class="control-label"></label>
                <input asp-for="ArticleSubject" class="form-control" />
                <span asp-validation-for="ArticleSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleImageName" class="control-label"></label>
                {
                    if (Model.ArticleImageName != null)
                    {
                        <div style="background-image:url('Content/Photos/Article/(Model.ArticleImageName ?? "/NoImage.jpg")');background-position:right;height:200px;background-repeat:no-repeat;background-size:contain;width:200px;position:relative;" alt="Model.ArticleImageName" id="ArticleImageName" name="ArticleImageName" value="Model.ArticleImageName">
                            <span class="closeimage" data-Action="Url.Action("DeleteImageFromRoot","ArticleManagement")" data-Path="Model.ArticleImageName" data-target="#ArticleImageName"></span>

                        </div>

                    }
                    else
                    {
                        <div style="background-image:url('Content/Photos/NoImage.jpg');background-position:right;height:200px;background-repeat:no-repeat;background-size:contain;width:200px;position:relative;" alt="Model.ArticleImageName" id="ArticleImageName" name="ArticleImageName" value="Model.ArticleImageName"></div>

                    }
                }
            </div>
            <div class="form-group">
                <label asp-for="ArticleImage" class="control-label"></label>
                <input type="file" asp-for="ArticleImage" />
                <span asp-validation-for="ArticleImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleFile" class="control-label"></label>
                <input asp-for="ArticleFile" class="form-control" />
                <span asp-validation-for="ArticleFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationDate" class="control-label"></label>
                <input type="date" asp-for="PublicationDate" class="form-control" />
                <span asp-validation-for="PublicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmallDescription" class="control-label"></label>
                <input asp-for="SmallDescription" class="form-control" />
                <span asp-validation-for="SmallDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                {
                    SelectList RootCatList = (SelectList)ViewBag.AllRootCats;

                }
                <select class="form-control" asp-items="RootCatList" id="FirstLayerCat"></select>
                <div id="subCat">
                    <select class="form-control" asp-for="CategoryID">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AuthorID" class="control-label"></label>
                <input asp-for="AuthorID" class="form-control" />
                <div id="dvContent">
                    await Component.InvokeAsync("AuthorDrp")

                </div>

                <span asp-validation-for="AuthorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeywordID" class="control-label"></label>
                <input asp-for="KeywordID" class="form-control" />
                <div id="dvContent">

                    await Component.InvokeAsync("KeywordDrp")

                </div>

                <span asp-validation-for="KeywordID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <span class="btn btn-warning" id="btnCancel" data-modal="#ArticleUpdate" data-target="#dvContent">Cancel</span>
            </div>
            <input type="hidden" asp-for="ArticleID" readonly />
            <input type="hidden" id="" asp-for="ArticleImageName" readonly />
        </form>
    </div>
</div>
section Scripts {
    {await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}-->
<!-- jQuery 3 -->
<!--<script src="~/topkala-admin/bowercomponents/jquery/dist/jquery.min.js"></script>-->
<!-- Bootstrap 3.3.7 -->
<!--<script src="~/topkala-admin/bowercomponents/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!-- Select2 -->
<!--<script src="~/topkala-admin/bowercomponents/select2/dist/js/select2.full.min.js"></script>-->

<!-- Page script -->
<!--<script>

    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

    })
</script>-->
